*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
li {
    list-style: none;
}
img {
    vertical-align: middle;
}
.container{
    max-width: var(--container);
    margin: 0 auto;
}
:root{
    --pink: #C73659;
    --black: #151515;
    --primary: #A91D3A;
    --secondary: #EEEEEE;
    --white : #fff;
    --lowerParagraphFont: clamp(0.75rem, 1vw, 0.875rem);
    --paragraphFont: clamp(0.875rem, 1vw, 1rem);
    --paraFont: clamp(1rem, 1vw, 1.125rem);
    --paraheadingFont: clamp(1.125rem, 1vw, 1.25rem);
    --subheadingFont: clamp(2rem, 1vw, 2.5rem);
    --headingFont: clamp(3.125rem, 1vw, 3.5rem);
    --light:200;
    --normal: 400;
    --medium: 500;
    --semibold:600;
    --bold:700;
    --container: clamp(90rem, 1vw, 125rem);
    --primaryFamily:  "Cormorant Garamond", serif;
    --secondaryFamily:  "Open Sans", sans-serif;
    --cursive:"Dancing Script", cursive;

}
/* ------------------------navigation starts------------------ */
#navigation{
    padding: 0 0.6rem ;
}
.nav_logo {
    text-align: center;
    font-size: var(--headingFont);
    font-weight: 200;
    font-family: var(--cursive);
    color: var(--primary);
    padding: 1rem 0;
    letter-spacing: 1.6rem;
}
.nav_contents{
    background: var(--primary);
    display: flex;
    justify-content: space-between;
}
.nav_inner_items{
    display: flex;
    gap: 2rem;
}
.bar{
    display: none;
}
.nav_inner{
    color: var(--white);
    font-size: var(--paraFont);

}
.nav_item{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.nav_icon{
    width: 20%;
}
.nav_user {
    color: var(--white);
    align-self: flex-end;
}
.login{
    color: var(--white);
}

/* ------------------------navigation ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */