*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
li {
    list-style: none;
}
img {
    vertical-align: middle;
}
.container{
    max-width: var(--container);
    margin: 0 auto;
}
:root{
    --pink: #C73659;
    --black: #151515;
    --primary: #A91D3A;
    --secondary: #EEEEEE;
    --white : #fff;
    --lowerParagraphFont: clamp(0.75rem, 1vw, 0.875rem);
    --paragraphFont: clamp(0.875rem, 1vw, 1rem);
    --paraFont: clamp(1rem, 1vw, 1.125rem);
    --paraheadingFont: clamp(1.125rem, 1vw, 1.25rem);
    --subheadingFont: clamp(2rem, 1vw, 2.5rem);
    --headingFont: clamp(3.125rem, 1vw, 3.5rem);
    --light:200;
    --normal: 400;
    --medium: 500;
    --semibold:600;
    --bold:700;
    --container: clamp(90rem, 1vw, 125rem);
    --primaryFamily:  "Cormorant Garamond", serif;
    --secondaryFamily:  "Open Sans", sans-serif;
    --cursive:"Dancing Script", cursive;

}
/* ------------------------navigation starts------------------ */
#navigation{
    background: var(--primary);

}
.nav_logo {
    text-align: center;
    font-size: var(--headingFont);
    font-weight: 200;
    font-family: var(--cursive);
    color: var(--primary);
    padding: 1rem 0;
    letter-spacing: 1.6rem;
}
.nav_contents{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.nav_icon {
    display: flex;
    gap: 2rem;
    position: relative;
}
.nav_icon::after{
    position: absolute;
    content: '';
    width: 40%;
    height: 1px;
    background: #ffffff97;
    top: 40%;
    transform: translateY(-50%);
}
.nav_item{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.nav_icon{
    width: 20%;
}
.nav_icon i{
    color: #EEEEEE;
    font-size: var(--lowerParagraphFont);
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 1px;
    margin: 0 0.5rem;
    transition: 0.3s;
}
.nav_icon i:hover{
    background: var(--secondary);
    color: #151515;

}
.nav_inner_items{
    display: flex;
    gap: 5rem;
    width: 50%;
    justify-content: end;
}
.bar{
    display: none;
}
.nav_inner{
    color: var(--white);
    font-size: var(--paraFont);
    font-weight: var(--normal);
    font-family: var(--primaryFamily);
    text-transform: capitalize;
    position: relative;
    padding: 0.2rem 0;
    overflow: hidden;
    transition: 0.2s;
}
.nav_inner::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: -100%;
    transition: 1s;
} 
.nav_inner::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: -120%;
    transition: 1s;
} 
.nav_inner:hover{
    font-weight: var(--bold);
}
.nav_inner:hover.nav_inner::after {
    left: 200%;
}
.nav_inner:hover.nav_inner::before{
    left: 0%;
}
.nav_user {
    width: 50%;
    color: var(--white);
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.login{
    color: var(--white);
    font-size: var(--paraFont);
    font-weight: var(--normal);
    font-family: var(--primaryFamily);
    text-transform: capitalize;
    transition: 0.2s;
}
.login:hover{
    font-weight: var(--bold);
}
.nav_user i{ 
    color: #EEEEEE;
    font-size: var(--lowerParagraphFont);
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 1px;
    margin: 0 0.5rem;
    transition: 0.3s;
}
.nav_user i:hover{
    background: var(--secondary);
    color: #151515;

}

/* ------------------------navigation ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */
/* ------------------------  starts-------------------- */
/* ------------------------  ends-------------------- */